# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\hezhijucheng\wechatmini-auto-test-case\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
